<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="emersonfxbx.openssl.v140.desktop.x86" version="1.0.0.0" targetFramework="native" />
  <package id="emersonfxbx.openssl.v140.desktop.x86.redist" version="1.0.0.0" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.7" targetFramework="native" />
</packages>